{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Hero Area Start -->
      {% include 'partials/__hero.html' %}
    <!-- Hero Area End -->

    <!-- Services Section Start -->
      {% include 'partials/__services.html' %}
    <!-- Services Section End -->

    <!-- About Section start -->
      {% include 'partials/__about.html' %}
    <!-- About Section End -->

    <!-- Features Section Start -->
      {% include 'partials/__features.html' %}
    <!-- Features Section End -->

    <!-- Team Section Start -->
      {% include 'partials/__team.html' %}
    <!-- Team Section End -->

    <!-- Pricing section Start -->
      {% include 'partials/__pricing.html' %}
    <!-- Pricing Table Section End -->

    <!-- Testimonial Section Start -->
      {% include 'partials/__testimonial.html' %}
    <!-- Testimonial Section End -->

    <!-- Call To Action Section Start -->
      {% include 'partials/__call_to_action.html' %}
    <!-- Call To Action Section Start -->

    <!-- Contact Section Start -->
      {% include 'partials/__contact.html' %}
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
      {% include 'partials/__footer.html' %}
    <!-- Footer Section End -->
{% endblock %}